


.div-link{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn-appoint {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    width: 47% !important;
    background-color: white;
    color: var(--on-focus);
    border-radius: 25px;
    border: 1px solid var(--on-focus);
}
.btn-appoint:hover{
    color: white;
    background-color:var(--on-focus);
}