.b-all-today {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 144px 5% 46px 5%;
}
.overlay {
  /* display: none; */
  background: rgba(112,112,112,.7);
  z-index: 2000;
  position: absolute;
  width: 100%;
  height: 100%;
}
.servese-one{
  color: red !important;
  width: 500px !important;
}
.pagination{
  width: 100%;
  display: flex !important;
  justify-content: center;
  margin-bottom: 200px;
  text-align: center;
}
.pagination .child-1{
  display: flex;
  align-items: revert;
  justify-content: center;
  /* margin-bottom: 200px !important; */
}
.table-appoint-done .pagination .child-2{
  display: flex;
  align-items: revert;
  justify-content: center;
}
.page-l{
  /* background-color: #069ad3; */
  fill: #707070;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.page-r{
  /* background-color: #069ad3; */
  fill: #707070;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.activepage{
  background-color: #069ad3;
}


/* start navFooter */
.navFooter {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: #065E80;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.navFooter .logo{
  padding: 0px !important;
}

.navFooter p{
  font-size: 18px;
  color: white !important;
}

@media screen and (max-width: 991px) {
  .navFooter {
    display: none;
  }
}

/* End navFooter */












.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bubbles{
  margin-top: 300px !important;
  margin-bottom:200px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}